[Desktop Entry]
Type=Application
Name=aespresso
Comment=A GTK4 frontend for archlinux's archlinux-java script.
Exec=aespresso
Icon=aespresso
Terminal=false
StartupNotify=true
Categories=System;
Keywords=java;jdk;jvm;environment;archlinux;
